In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

### Q1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A)Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [19]:
Rank_tags = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in Rank_tags:
    number=i.text
    Rank.append(number)

In [20]:
Name_tags = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in Name_tags:
    tag_name=i.text
    Name.append(tag_name)

In [21]:
artist_tags = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')  
for i in artist_tags:
    tag_artist=i.text
    Artist.append(tag_artist)

In [22]:
views_tags = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')  
for i in views_tags:
    watch=i.text
    Views.append(watch)

In [23]:
upload_tags = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')  
for i in upload_tags:
    upload=i.text
    Upload_date.append(upload)

In [24]:
print(len(Rank),len(Name),len(Artist),len(Views),len(Upload_date))

48 48 48 48 48

In [25]:
df = pd.DataFrame({'Rank':Rank[:30],'Name':Name[:30],'Artist':Artist[:30],'Upload_date':Upload_date[:30],'Views':Views[:30]})
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear ‚Äì Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""[44]",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""[47]",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""[52]",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.48

In [26]:
driver.close()

### Q2. Scrape the details team India‚Äôs international fixtures from bcci.tv.Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
driver=webdriver.Chrome()

In [7]:
driver.get("http://www.bcci.tv/")

In [8]:
pop_up=driver.find_element(By.XPATH,'//div[@class="blocker-img-div"]')
pop_up.click()

In [9]:
international=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[1]/ul/div[1]/a[2]")
international.click()

In [17]:
Series_play=[]
Place=[]
Date=[]
Time=[]

In [18]:
series_tags = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    tag_series=i.text
    Series_play.append(tag_series)

In [20]:
Place_tags = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in Place_tags:
    venue=i.text
    Place.append(venue)

In [21]:
Date_tags= driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in Date_tags:
    number=i.text
    Date.append(number)

In [22]:
Time_tags = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in Time_tags:
    tags_time=i.text
    Time.append(tags_time)

In [23]:
print(len(Series_play),len(Place),len(Date),len(Time))

211 211 211 211

In [24]:
df = pd.DataFrame({'Series_play':Series_play,'Place':Place,'Date':Date,'Time':Time})
df

,Series_play,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,"29 OCTOBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai","2 NOVEMBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata","5 NOVEMBER, 2023",2:00 PM IST
...,...,...,...,...
206,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","6 SEPTEMBER, 2022",7:30 PM IST
207,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","4 SEPTEMBER, 2022",7:30 PM IST
208,NEW ZEALAND A TOUR OF INDIA,"M.Chinnaswamy Stadium, Bangalore","1 SEPTEMBER, 2022",9:30 AM IST
209,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",7:30 PM IST
210,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",7:30 PM IST

### Q3. Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/ You have to find following details: 
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("http://statisticstimes.com/")

In [4]:
Economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
Economy.click()

In [5]:
select=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
select.click()

In [10]:
Indian_States=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
Indian_States.click()

In [11]:
Rank=[]
State=[]
GSDP19=[]
GSDP20=[]
Share=[]
GDP_billion=[]

In [12]:
Rank_tags = driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in Rank_tags:
    number=i.text
    Rank.append(number)

In [13]:
State_tags=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in State_tags:
    name=i.text
    State.append(name)

In [25]:
GSDP18=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[4]')
for i in GSDP18:
    GSDP_tag=i.text
    GSDP19.append(GSDP_tag)

In [15]:
GSDP19=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
for i in GSDP19:
    GSDP_tag=i.text
    GSDP20.append(GSDP_tag)

In [16]:
Share_tag=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
for i in Share_tag:
    percent=i.text
    Share.append(percent)

In [17]:
GDP_tag=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[6]')
for i in GDP_tag:
    billion=i.text
    GDP_billion.append(billion)

In [26]:
print(len(Rank),len(State),len(GSDP19),len(GSDP20),len(Share),len(GDP_billion))

68 68 132 66 66 66

In [27]:
df = pd.DataFrame({'Rank':Rank[:66],'State':State[:66],'GSDP 18-19':GSDP19[:66],'GSDP 19-20':GSDP20,'Share':Share,'GDP($ billion)':GDP_billion})
df

,Rank,State,GSDP 18-19,GSDP 19-20,Share,GDP($ billion)
0,1,Maharashtra,<selenium.webdriver.remote.webelement.WebEleme...,-,13.94%,399.921
1,2,Tamil Nadu,<selenium.webdriver.remote.webelement.WebEleme...,"1,845,853",8.63%,247.629
2,3,Uttar Pradesh,<selenium.webdriver.remote.webelement.WebEleme...,"1,687,818",8.39%,240.726
3,4,Gujarat,<selenium.webdriver.remote.webelement.WebEleme...,-,7.96%,228.290
4,5,Karnataka,<selenium.webdriver.remote.webelement.WebEleme...,"1,631,977",7.91%,226.806
...,...,...,...,...,...,...
61,28,Manipur,<selenium.webdriver.remote.webelement.WebEleme...,"28,391",0.15%,"17,060"
62,29,Sikkim,<selenium.webdriver.remote.webelement.WebEleme...,-,0.15%,-
63,30,Nagaland,<selenium.webdriver.remote.webelement.WebEleme...,-,0.13%,-
64,31,Arunachal Pradesh,<selenium.webdriver.remote.webelement.WebEleme...,"24,424",0.13%,"17,797"
65,32,Mizoram,<selenium.webdriver.remote.webelement.WebEleme...,-,-,-

In [28]:
driver.close()

### Q4. Scrape the details of trending repositories on Github.com.Url = https://github.com/ You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://github.com/")

In [5]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [6]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [7]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [8]:
title_tags = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title_tags:
    name=i.text
    Repository_title.append(name)

In [9]:
description_tags = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tags:
    data=i.text
    Repository_description.append(data)

In [10]:
contro_tags = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in contro_tags:
    share=i.text
    Contributors_count.append(share)

In [11]:
language_tags = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in language_tags:
    lang=i.text
    Language_used.append(lang)

In [12]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 23 50 21

In [13]:
df = pd.DataFrame({'Repository_title':Repository_title[:21],'Repository_description':Repository_description[:21],'Contributors_count':Contributors_count[:21],'Language_used':Language_used[:21]})
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,ByteByteGoHq / system-design-101,Explain complex systems using visuals and simp...,"4,926",Python
1,cpacker / MemGPT,Teaching LLMs memory management for unbounded ...,636,Python
2,JonathonLuiten / Dynamic3DGaussians,"Omnivore is a complete, open source read-it-la...","1,897",HTML
3,omnivore-app / omnivore,üöÄüß†üí¨ Supercharged Custom Instructions for ChatG...,119,Python
4,spdustin / ChatGPT-AutoExpert,üåü The Multi-Agent Framework: Given one line Re...,729,Python
5,geekan / MetaGPT,A curated list of free courses & certifications.,30,C++
6,cloudcommunity / Free-Certifications,ÿå ÿ™ŸÖÿßŸÖ ŸÖŸÜÿßÿ®ÿπ ÿ¢ŸÖŸàÿ≤ÿ¥€å ŸÖÿπÿ±ŸÅ€å ÿ¥ÿØŸá ÿ±ÿß€å⁄ØÿßŸÜ Ÿáÿ≥ÿ™ŸÜ ÿ®ÿ±ÿß€å...,"5,019",Jupyter Notebook
7,yanfengwu-syser / syserdebugger,Playing Pokemon Red with Reinforcement Learning,209,PowerShell
8,barnamenevisi / free-resources,game of active directory,"3,565",JavaScript
9,PWhiddy / PokemonRedExperiments,"Removes The ""Ad blocker are not allowed on You...",225,C++
10,Orange-Cyberdefense / GOAD,A list of Free Software network services and w...,"29,228",C
11,TheRealJoelmatic / RemoveAdblockThing,MiniOB is a compact database that assists deve...,"3,392",Dart
12,awesome-selfhosted / awesome-selfhosted,Cockpit is a web-based graphical interface for...,"8,165",TypeScript
13,oceanbase / miniob,An open source cross-platform alternative to A...,811,Rust
14,cockpit-project / cockpit,"Build your React-based CRUD applications, with...",188,Shell
15,localsend / localsend,Cross-platform Rust rewrite of the GNU coreutils,74,Python
16,refinedev / refine,A black hole for Internet advertisements,361,Rust
17,uutils / coreutils,4D Gaussian Splatting for Real-Time Dynamic Sc...,18,Vue
18,pi-hole / pi-hole,A blazing fast inference solution for text emb...,"3,758",Python
19,hustvl / 4DGaussians,An alternative privacy-friendly YouTube fronte...,247,Python
20,huggingface / text-embeddings-inference,A Django content management system focused on ...,"2,956",Python

In [14]:
driver.close()

### Q5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [38]:
driver=webdriver.Chrome()

In [39]:
driver.get("http://www.billboard.com/")

In [40]:
hot100=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[3]/div/nav/ul/li[4]/a")
hot100.click()

In [42]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [43]:
firstsong_tags = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in firstsong_tags:
    name=i.text
    Song_name.append(name)

In [44]:
othersong_tags= driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in othersong_tags:
    name=i.text
    Song_name.append(name)

In [45]:
fartist_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in fartist_tags:
    name=i.text
    Artist_name.append(name)

In [46]:
artist_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_tags:
    name=i.text
    Artist_name.append(name)

In [47]:
fwr_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')
for i in fwr_tags:
    name=i.text
    Last_week_rank.append(name)

In [ ]:
wr_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')
for i in wr_tags:
    name=i.text
    Last_week_rank.append(name)

### Q6. Scrape the details of Highest selling novels.Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [13]:
driver=webdriver.Chrome()

In [14]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [15]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [ ]:
book_tags = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in book_tags:
    name=i.text
    Book_name.append(name)

### Q7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [14]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Vote=[]

In [17]:
Name_tags = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in Name_tags:
    names=i.text
    Name.append(names)

In [18]:
Year_tags = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in Year_tags:
    names=i.text
    Year_span.append(names)

In [19]:
Genre_tags = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in Genre_tags:
    names=i.text
    Genre.append(names)

In [20]:
Run_tags = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in Run_tags:
    names=i.text
    Run_time.append(names)

In [21]:
Ratings_tags = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in Ratings_tags:
    Rate=i.text
    Ratings.append(Rate)

In [15]:
Vote_tags = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in Vote_tags:
    vot=i.text
    Vote.append(vot)

In [22]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [24]:
df = pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Run_time':Run_time,'Ratings':Ratings,'Vote':Vote})
df

,Name,Year_span,Genre,Run_time,Ratings,Vote
0,1. Game of Thrones (2011‚Äì2019),(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,213,375"
1,2. Stranger Things (2016‚Äì2025),(2016‚Äì2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,172"
2,3. The Walking Dead (2010‚Äì2022),(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,239"
3,4. 13 Reasons Why (2017‚Äì2020),(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"308,612"
4,5. The 100 (2014‚Äì2020),(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,549"
...,...,...,...,...,...,...
95,96. Reign (2013‚Äì2017),(2013‚Äì2017),Drama,42 min,7.5,"52,952"
96,97. A Series of Unfortunate Events (2017‚Äì2019),(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"65,028"
97,98. Criminal Minds (2005‚Äì ),(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"211,904"
98,99. Scream: The TV Series (2015‚Äì2019),(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7,"44,106"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"270,002"

In [25]:
driver.close()

### Q8. Details of Datasets from UCI machine learning repositories.Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [32]:
driver=webdriver.Chrome()

In [33]:
driver.get("https://archive.ics.uci.edu/")

In [34]:
Dataset=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
Dataset.click()

In [35]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [36]:
Dataset_tags = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in Dataset_tags:
    names=i.text
    Dataset_name.append(names)

In [37]:
Data_tags = driver.find_elements(By.XPATH,'//span[@class="truncate"]')
for i in Data_tags:
    names=i.text
    Data_type.append(names)

In [ ]:
Task_tags = driver.find_elements(By.XPATH,'//span[@class="truncate"]')
for i in Task_tags:
    names=i.text
    Task.append(names)